* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}
.calculator {
    background-color: #212121;
    width: 400px;
    margin: 10px;
    border: 1px solid #111;
    border-radius: 4px;
}

.flex-container {
    display: flex;
}

.flex-item {
    color: white;
    flex: 1 1;
}

.display {
    height: 100px;
    width: 400px;
    left: 100px;
    text-align: right;
    padding: 30px;
}
.display span {
    font-size: xx-large;
}

table {
    width: 400px;
}

td.btn-calculator {
    background: #01010130;
    text-align: center;
    height: 65px;
    border: 1px solid #01010160;
}

td.btn-calculator.active:hover {
    cursor: pointer;
    background-color: #a1a1a150;
    border: 1px solid #ffffff30;
}